<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Appointments">
    <meta name="author" content="jjoss">
    <meta name="keywords" content="Appointments">

    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="preload" href="/static/assets/bootstrap/css/bootstrap.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    </noscript>
</head>

<body>
    <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row">
            <h1 class="text-center text-success display-6">¡Reserva exitosa!</h1>
            <p class="text-center display-6">Se enviará un email a <span class="fst-italic">{{ .Email }}</span> con los
                datos del turno.</p>

            <div class="d-grid gap-2 col-6 mx-auto mt-5">
                <a href="/bookings" class="btn bg-success bg-opacity-25">Volver a Inicio</a>
            </div>
        </div>
    </div>
</body>

</html>