{{ define "admin_layout" }}
<!DOCTYPE html>
<html lang="es" data-lt-installed="true">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Appointments">
    <meta name="author" content="jjoss">
    <meta name="keywords" content="Appointments">

    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="preload" href="/static/assets/bootstrap/css/bootstrap.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    </noscript>

    <link rel="preload" href="/static/assets/bootstrap/icons/bootstrap-icons.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/assets/bootstrap/icons/bootstrap-icons.css">
    </noscript>

    <!-- Layout Styles -->
    <link rel="preload" href="/static/assets/css/admin-layout.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/assets/css/admin-layout.css">
    </noscript>

    <!-- Bootstrap JS -->
    <script defer src="/static/assets/bootstrap/js/popper.min.js"></script>
    <script defer src="/static/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Country Picker CSS -->
    <link rel="preload" href="/static/assets/country-select/css/countrySelect.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/assets/country-select/css/countrySelect.min.css">
    </noscript>

    <!-- Country Picker JS -->
    <script defer src="/static/assets/bootstrap/js/jquery-3.6.0.slim.min.js"></script>
    <script defer src="/static/assets/country-select/js/countrySelect.min.js"></script>

    <script defer type="module" src="/static/assets/js/admin/clients.js"></script>

    <title>Turnos</title>
</head>

<body>
    <!-- navbar only available for screen size < md -->
    <nav class="navbar navbar-light bg-light d-block d-sm-none d-sm-block d-md-none"
        aria-label="Navbar for screen size under md">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-calendar" viewBox="0 0 16 16">
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                </svg>
                <span class="fs-5 fw-semibold p-3">Turnos</span>
            </a>
            <button class="navbar-toggler bg-success bg-opacity-10" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample01">
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                            Cuenta
                        </button>
                        <div class="collapse" id="account-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <a href="/admin/profile"
                                        class="link-dark d-inline-flex text-decoration-none rounded">Configuración</a>
                                </li>
                                <li>
                                    <form action="/auth/logout" method="post">
                                        <button type="submit"
                                            class="btn btn-sm bg-danger bg-opacity-50 logout-btn d-inline-flex text-decoration-none rounded">Salir</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse" data-bs-target="#appointment-collapse" aria-expanded="false">
                            Turnos
                        </button>
                        <div class="collapse" id="appointment-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <a href="/admin/bookings"
                                        class="link-dark d-inline-flex text-decoration-none rounded">Reservas</a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" id="appointment-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <a href="/admin/appointments"
                                        class="link-dark d-inline-flex text-decoration-none rounded">
                                        Habilitar Turnos
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" id="appointment-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <a href="/admin/appointmentTypes"
                                        class="link-dark d-inline-flex text-decoration-none rounded">
                                        Tipos de Consultas
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" id="appointment-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <a href="/admin/clients"
                                        class="link-dark d-inline-flex text-decoration-none rounded">
                                        Clientes
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="d-flex flex-nowrap">
        <div class="d-none d-sm-block d-sm-none d-md-block flex-shrink-0 p-3 bg-white">
            <span class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-calendar" viewBox="0 0 16 16">
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                </svg>
                <span class="fs-5 fw-semibold p-3">Turnos</span>
            </span>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        Cuenta
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="/admin/profile"
                                    class="link-dark d-inline-flex text-decoration-none rounded">Configuración</a>
                            </li>
                            <li>
                                <form action="/auth/logout" method="post">
                                    <button type="submit"
                                        class="btn btn-sm bg-danger bg-opacity-50 logout-btn d-inline-flex text-decoration-none rounded">Salir</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#appointment-collapse" aria-expanded="false">
                        Turnos
                    </button>
                    <div class="collapse" id="appointment-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="/admin/bookings"
                                    class="link-dark d-inline-flex text-decoration-none rounded">Reservas</a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse" id="appointment-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="/admin/appointments"
                                    class="link-dark d-inline-flex text-decoration-none rounded">
                                    Habilitar Turnos
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse" id="appointment-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="/admin/appointmentTypes"
                                    class="link-dark d-inline-flex text-decoration-none rounded">
                                    Tipos de Consultas
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse" id="appointment-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="/admin/clients" class="link-dark d-inline-flex text-decoration-none rounded">
                                    Clientes
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="b-example-divider b-example-vr"></div>
        {{ end }}
    </main>
</body>

</html>